* {
    font-family: "Avenir Next" !important;
    background-color: #00A1FA;
}

html, body {
    text-align: left;
    /*height: 100%;*/
    overflow: hidden;
}

nav {
    padding: 5px;
}

a {
    color: white;
    display: inline-block;
    position: relative;
    height: 100%;
    text-decoration: underline dotted;
    text-decoration-color: black;
}

span {
    display: block;
    height: 100%;
}

object {
    pointer-events: none;
}

p {
    color: white;
    display: relative;
}

/*HEADER -- START*/

#header {
    padding-top: 2.5%;
    margin-left: 10%;
    font-size: 1.3vw;
    min-height: 20px;
}

#links-left {
    text-align: left;
    float: left;
    font-size: 1.3vw;
}

#links-left a {
    text-decoration: none;
    padding-right: 20px;
}

#links-left a.left-item-active {
    font-weight: 600;
}

#links-left a:hover {
    color: #000;
    opacity: 0.6
}

#links-right {
    padding-right: 10%;
    text-align: right;
    float: right;
    display: inline-block;
}

#links-right .github-logo {
    width: 2vw;
    height: 2vw;
}

#links-right .linkedin-logo {
    padding-right: 1.3vw;
    width: 2vw;
    height: 2vw;
}

/*HEADER -- END*/

/*ABOUT -- START*/

#about-section {
    clear: both;
    /*z-index: 1;*/
    margin-left: 10%;
}

#avatar {
    display: block;
    position: relative;
    max-width: 130%;
    margin-top: 7.8vw;
}

#avatar .headshot {
    min-width: 120px;
    width: 12vw;
    resize: both;
}

#bio {
    display: inline-block;
    position: relative;
    width: 80%;
}

#bio .first-line {
    opacity: 1;
    max-height: 10px;
}

#bio p {
    color: white;
    font-weight: 200;
    font-size: 2.1vw;
    min-width: 0.7vw;
    /*opacity: 0.9;*/
    line-height: 10px;
}

/*ABOUT -- END*/


#contact-section {
    margin-left: 10%;
    padding-top: 15px;
    color: white;
}

#contact-section button {
    -moz-appearance: button;
    width: 15%;
    padding-top: 50px;
    margin-right: 25px;
    padding: 10px 24px;
    font-weight: 500;
    font-size: 20px;
    border-radius: 40px;
    border-width: 3px;
    color: white;
    border-color: white;
    text-align: center;
    cursor: pointer;
}

#contact-section button:hover {
    border-color: : #00A1FA;
    color: #00A1FA;
    background-color: #fff;
    opacity: .9;
}

/*CONTACT -- START*/

/*#contact-section-stylized-button {
    overflow-clip: true;
    clear: top;
    height: 10%;
    margin-left: 10%;
}

#contact-section-stylized-button .svg-wrapper {
    display: inline-block;
    transform: translateY(-50%);
    margin: 3% auto 30vw;
    min-width: 300px;
    cursor: pointer;
}

#contact-section-stylized-button .svg-wrapper:hover .shape {
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
}

#contact-section-stylized-button .shape {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -435;
    stroke-width: 4px;
    fill: transparent;
    opacity: .9;
    stroke: #fff;
    border-bottom: 5px solid black;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

#contact-section-stylized-button .text {
    font-family: 'Avenir Next', serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 2px;
    text-align: center;
    color: #fff;
    top: -48px;
    position: relative;
}*/

/*CONTACT -- END*/
