* {
    font-family: "Avenir Next", "Roboto", "sans-serif";
    background-color: #00A1FA;
}

body {
    font-size: 20px;
}

nav {
    padding: 5px;
}

a {
    color: white;
    display: inline-block;
    position: relative;
    height: 100%;
}

span {
    display: inline-block;
    height: 100%;
}

object {
    pointer-events: none;
}

p {
    color: white;
}

#header {
    padding-top: 30px;
    font-size: 18px;
    margin-left: 150px;
}

#links-left {
    text-align: left;
    float: left;
}

#links-left a {
    text-decoration: none;
    padding-left: 20px;
}

#links-left a.left-item-active {
    font-weight: 600;
}

#links-left a:hover {
    text-decoration-color: #ddd;
    color: #073B4C;
}

#links-right {
    padding-right: 105px;
    text-align: right;
    float: right;
    display: inline-block;
}

#links-right .logo {
    padding-right: 15px;
    width: 25px;
    height: 25px;
}

#links-right .logo:hover {
    /*TODO: BLACK LOGO ON HOVER*/
}

#dead_space {
    padding: 10px;
    height: 150px;
}

#avatar {
    display: inline-block;
    position: relative;
}

#avatar .headshot {
    margin-left: 160px;
    width: 140px;
    resize: both;
}

#sliding-drawer {
    height: 100vh;
    color: white;
    position: fixed;
    /*box-shadow: -6px 0 40px 2px rgba(0, 0, 0, 0.4);*/
    display: inline-block;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: white;
    /*margin-right: 0;*/
    z-index: 2;
    float: right;
    width: 105px;
    top: 0;
    right: 0;
}

#sliding-drawer-content {
    z-index: 4;
    display: none;
    text-align: center;
    padding-left: 220px;
    background-color: white;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}



/**
 * CSS FOR SIDE BAR SECTIONS
 */

/* TODO: CLEAN THIS SECTION UP*/

#skills-section {
    background-color: white;
}

#skills-title {
    background-color: white;
    color: #00A1FA;
    margin-right: 60px;
    position: relative;
    margin-top: -15px;
    overflow:  visible;
    z-index: 4;
}

#tech-stack-left .ul {
    float: left;
    align-content: left;
    background-color: white;
}

#closed-drawer-button {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: white;
    float: right;
    margin-right: 80px;
    display: flex;
    text-align: center;
    overflow: hidden;
    margin-top: 330px;
    z-index: 3;
    /*box-shadow: -10px 0 40px 1px rgba(0, 0, 0, 0.4);*/
}

#closed-drawer-button:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

#closed-drawer-button .arrows {
    width: 50%;
    display: flex;
    margin-left: 12px;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#opened-drawer-button {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    float: right;
    background: white;
    margin-right: 575px;
    overflow: hidden;
    position: relative;
    margin-top: 330px;
    display: none;
    text-align: center;
    z-index: 3;
    /*box-shadow: -10px 0 40px 1px rgba(0, 0, 0, 0.4);*/
}

#opened-drawer-button:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

#opened-drawer-button .arrows {
    width: 50%;
    display: flex;
    margin-left: 12px;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#bio {
    display: block;
    position: relative;
}

#bio .intro {
    margin-left: 165px;
    color: white;
    font-size: 25px;
    width: 900px;
    margin-right: 500px;
}

#contact-section {
    margin-left: 165px;
}

#contact-section .get-in-touch-button {
    color: white;
    border-radius: 40px;
    /*DO NOT OPTIMIZE*/
    border-width: 3px;
    border-color: white;
    margin-left: 2px;
    margin-right: 5px;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

#contact-section .get-in-touch-button:hover {
    color: #073B4C;
    border-width: 3px;
    border-color: #073B4C;
}

#contact-section .learn-more:hover {
    color: #073B4C;
}

#contact-section .inline-link {
    display: inline;
    color: white;
    margin-left: 5px;
    font-size: 15px;
    text-decoration: none;
}

#contact-section .about {
    display: inline;
    color: white;
    font-size: 15px;
}

#contact-section .learn-more {
    display: inline;
    color: white;
    font-size: 17px;
    font-weight: 500;
}

#footer {
    padding: 10px;
    margin-left: 20px;
    clear: both;
    height: 50px;
    position: fixed;
    bottom: 0px;
    width: 95%;
}

hr.bar {
    width: 80%;
    border: 10px;
    height: 3px;
    background-color: white;
}

#footer .details {
    margin-bottom: 15px;
    padding-bottom: 15px;
    margin-left: 135px;
    font-size: 13px;
    color: white;
}
