* {
  margin: 20
  padding: 20;
}

body {
	background-color: #2F9BFF;
}

a {
    font-family: "Avenir Next";
    color: white;
    padding-top: 20px;
};

p {
    font-family: "Avenir Next";
    color: white;
    padding-top: 20px;
};

img {
	padding-top: 40px
};